.profile-certification-timeline-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.profile-container {
  width: 100%; /* Take up full width on smaller screens */
  margin-bottom: 20px; /* Add margin between profile and timeline on smaller screens */
}

.profile-header {
  display: flex;
  align-items: center; /* Align items horizontally */
}

.profile-image {
  width: 100px; /* Adjust the width of the profile image */
  height: 100px; /* Adjust the height of the profile image */
  border-radius: 50%;
  margin-right: 20px; /* Adjust the margin as needed */
}

.profile-details {
  flex: 1; /* Take up remaining space */
}
.profile-jobdescription {
  padding-top: 20px;
}

.profile-jobdescription p{
  text-align: left;
}

.certification-timeline-container {
  width: 100%; /* Take up full width on smaller screens */
}

.certification-timeline {
  margin-left: 0; /* Set margin-left to 0 to bring the timeline to the left */
}

#certification-card {
  border: 0 10px 10px 0 solid rgb(204, 204, 204);
  border-radius: 10px;
  padding: 20px 40px; /* Add padding of 20px horizontally, adjust as needed */
  margin-bottom: 10px;
  position: relative; /* Make it a relative position container */  
  box-shadow: 5px 4px 8px rgba(204, 204, 204, 0.258);
}

.timeline-separator {
  position: absolute;
  top: 50%; /* Align to the vertical center */
  left: 50%; /* Align to the horizontal center */
  transform: translateX(-50%); /* Center the separator horizontally */
  height: 100%; /* Make the separator full height of the card */
}

.timeline-connector {
  margin-left: 30px; /* Add space between separator and card */
}
.timeline-dot {
  /* Adjust the styles to align the dot with Certificate ID */
  position: absolute;
  top: 50%; /* Align to the vertical center */
  left: -3px; /* Adjust the left position as needed */
  transform: translateY(-50%); /* Center the dot vertically */
}
@media (min-width: 768px) {
  /* Apply styles for larger screens (adjust breakpoint as needed) */
  .profile-certification-timeline-container {
    flex-direction: row; /* Align items horizontally */
  }

  .profile-container {
    width: 45%; /* Adjust the width as needed */
  }

  .certification-timeline-container {
    width: 45%; /* Adjust the width as needed */
  }
}
